<html>
<head>
    <title>
        My App
    </title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.finger.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
</head>
<body>

<input type="text" id = "box">
<button id = "b2" onclick="send()"> send to python</button>
<button id="button" onclick="toggleStartStop()"></button>
<textarea name = "code" id="textarea" rows=10 cols=80></textarea>
<script type="text/javascript">
var recognizing;
var recognition = new webkitSpeechRecognition();
recognition.continuous = true;
recognition.lang = 'en-IN';
reset();
recognition.onend = reset();

recognition.onresult = function (event) {
  for (var i = event.resultIndex; i < event.results.length; ++i) {
    if (event.results[i].isFinal) {
    box.value = event.results[i][0].transcript;

    }
  }
}

function reset() {
  recognizing = false;
  button.innerHTML = "Click to Speak";
}
function send(){
var value = box.value;
textarea.value += box.value;
 $.ajax({
				type: 'POST',
				url: "{{ url_for('process') }}",
				data: {
						text: value
					},
				dataType:"json",
				success: function(result) {
				alert("success")
				}
			});
}
function toggleStartStop() {
  if (recognizing) {
    recognition.stop();
    reset();
  } else {
    recognition.start();
    recognizing = true;
    button.innerHTML = "Click to Stop";
  }
}
</script>
</body>
</html>